.header {
  background: var(--bg-primary);
  padding: 1rem;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid var(--border-color);
  backdrop-filter: blur(10px);

  .navBar {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    color: var(--text-primary);
    font-size: 1.1rem;
    font-weight: 700;
  }

  .logo {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
  }
}

.navLink {
  font-size: 0.82rem;
  color: var(--text-secondary);
  font-family: var(--ff-headings);
  text-decoration: none;
  padding: 0.35rem 0.75rem;
  border-radius: var(--border-radius);
  transition:
    background 0.2s,
    color 0.2s;

  &:hover {
    background: var(--bg-secondary);
    color: var(--text-primary);
  }

  &:active {
    scale: 0.95;
  }

  &.active {
    background: none;
    cursor: default;
    pointer-events: none;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-color: var(--primary-color);
  }
}

@media (max-width: 720px) {
  .navCenter {
    display: none;
  }

  .header h1 {
    font-size: 0.875rem;
  }
}
