.footer {
	background: var(--bg);
	width: 100%;
	padding: var(--sp-6);
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--sp-3);
	border-top: var(--sp-05) solid var(--glass-border);

	& .left,
	.right {
		font-size: var(--t-mili);
		color: var(--fg-muted);
	}
	& .center {
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: var(--sp-2);

		& .footerText {
			font-size: var(--t-mili);
			color: var(--fg-2);
		}

		& .heart {
			width: var(--sp-6);
			height: var(--sp-6);
			color: var(--accent);
		}

		& .link {
			font-size: var(--t-mili);
			color: var(--fg);
			text-decoration-thickness: var(--sp-05);
			text-underline-offset: var(--sp-2);
			transition: all 0.2s ease;

			&:hover {
				color: var(--accent);
				text-decoration-color: var(--accent);
			}
		}
	}
}

@media (width <= 40rem) {
	.right,
	.left {
		display: none;
	}
	.footer {
		justify-content: center;
	}
}
