.anchor {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	color: var(--fg);
	text-decoration: underline;
	text-decoration-color: var(--accent);
	padding-bottom: 0;
	font: var(--f-mili-style);
	font-family: var(--ff-headings);

	&:hover {
		text-decoration: none;
	}

	@media (width <= 48rem) {
		font-size: 0.5rem;
	}
}
